In [1]:
import pandas as pd

In [12]:
#Abrir aquivo csv e ler as 5 primeiras e ultimas linhas
data = pd.read_csv("carros.csv")
print(data[0:5],data[-6:-1])

url = "https://raw.githubusercontent.com/advinstai/python-datascience/master/Exercicios/carros.csv"
data_2 = pd.read_table(url, sep=',')
print(data_2[0:5],data_2[-6:-1])

In [36]:
#Mostrar carro mais caro


print(max(data['price']))
data.loc[data['price'] == 45400.0]

45400.0

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

In [86]:
#Media de precos

data_price_null = data.loc[data['price'].isnull()]
print(data_price_null)
#data['price'].min
data.describe()

    index  company body-style  wheel-base  length engine-type  \
22     31    isuzu      sedan        94.5   155.9         ohc
23     32    isuzu      sedan        94.5   155.9         ohc
47     63  porsche  hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage  price
22             four          70               38    NaN
23             four          70               38    NaN
47            eight         288               17    NaN

,index,wheel-base,length,horsepower,average-mileage,price
count,61.000000,61.000000,61.000000,61.000000,61.000000,58.000000
mean,40.885246,98.481967,173.098361,107.852459,25.803279,15387.000000
std,25.429706,6.679234,14.021846,53.524398,8.129821,11320.259841
min,0.000000,88.400000,141.100000,48.000000,13.000000,5151.000000
25%,18.000000,94.500000,159.100000,68.000000,19.000000,6808.500000
50%,39.000000,96.300000,171.200000,100.000000,25.000000,11095.000000
75%,61.000000,101.200000,177.300000,123.000000,31.000000,18120.500000
max,88.000000,120.900000,208.100000,288.000000,47.000000,45400.000000

In [88]:
#Mostrar carros toyota


print(data.loc[data['company'] == "toyota"])

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [94]:
#Salvar arquivo csv

data_cilindro = data['num-of-cylinders']

data_cilindro.to_csv(r'cilindro_carros.csv')

/home/leleopc/Downloads/conda/envs/Env1/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until