In [5]:
import numpy as np
import pandas as pd

Manipulando Valores Nulos  
Limpeza dos Dados  
isnull()

In [7]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.sum()
x=1+np.nan
print(x)

nan

In [6]:
z=pd.Series([1, np.nan, 2, None, 4])
print(z.sum())

7.0

In [11]:
data = pd.Series([1, np.nan, 3, None])
print(data.isnull())
print(data.notnull())

d22=data.dropna()

print(d22)

0    False
1     True
2    False
3     True
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool
0    1.0
2    6.0
dtype: float64

In [15]:
print(data)
d22=data.fillna(-1)
print(d22)

0    1.0
1    NaN
2    6.0
3    NaN
dtype: float64
0    1.0
1   -1.0
2    6.0
3   -1.0
dtype: float64

In [16]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]

populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [18]:
pop[('California', 2010):('Texas', 2000)]


pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [19]:
print(index)
index = pd.MultiIndex.from_tuples(index)
print(index)

[('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [24]:
pop = pop.reindex(index)
print(pop)
pop[:, 2000]
pop[:,2010]

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [27]:
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)


df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

In [28]:
print(df1); print(df2); print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [34]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1)
print(df2)
print(pd.concat([df1,df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [35]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])

print(df3); print(df4); print(pd.concat([df3, df4], join_axes=[df4.columns]))

    A   B
0  A0  B0
1  A1  B1
    C   D
0  C0  D0
1  C1  D1
     C    D
0  NaN  NaN
1  NaN  NaN
0   C0   D0
1   C1   D1

/home/cavalcante87/miniconda3/envs/fiephub/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  after removing the cwd from sys.path.

In [44]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue','h'],
'group': ['Accounting', 'Engineering', 'Engineering', 'HR','gg']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue','g'],
'hire_date': [2004, 2008, 2012, 2014,2016]})
print(df1); 
print(df2)
df3 = pd.merge(df1, df2)
df3
df33 = pd.concat([df1,df2])
print(df33)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
4        h           gg
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
4        g       2016
  employee        group  hire_date
0      Bob   Accounting        NaN
1     Jake  Engineering        NaN
2     Lisa  Engineering        NaN
3      Sue           HR        NaN
4        h           gg        NaN
0     Lisa          NaN     2004.0
1      Bob          NaN     2008.0
2     Jake          NaN     2012.0
3      Sue          NaN     2014.0
4        g          NaN     2016.0

/home/cavalcante87/miniconda3/envs/fiephub/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [45]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
'Engineering', 'Engineering', 'HR', 'HR'],'skills': ['math', 'spreadsheets', 'coding', 'linux',
'spreadsheets', 'organization']})
print(df1); print(df5); print(pd.merge(df1, df5))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
4        h           gg
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

In [48]:
url = 'https://raw.githubusercontent.com/advinstai/python-datascience/master/Exercicios/carros.csv'
df = pd.read_csv(url)

pd.DataFrame(df)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [2]:
import numpy as np
import pandas as pd

In [3]:
#1. abrir o arquivo Auto.csv
#2. contar a quantidade de elementos nulos por coluna
#3. criar um data frame eliminando as linhas com valores nulos
#4. criar um data frame transformando os valores nulos para zero
#5. criar um data frame trocando nulo por média da coluna

#1. abrir o arquivo Auto.csv
url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'
#url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/adult.csv'
#url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/diabetic_data.csv'

#2. contar a quantidade de elementos nulos por coluna
from_url = pd.read_csv(url, sep=',')
df = pd.DataFrame(from_url)

dfR = df.replace('?', np.nan)

nulls_by_columns = dfR.isnull().sum(axis=0)
nulls_by_columns

#3. criar um data frame eliminando as linhas com valores nulos

#4. criar um data frame transformando os valores nulos para zero

#5. criar um data frame trocando nulo por média da coluna

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [5]:
#2. contar a quantidade de elementos nulos por coluna
url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'
from_url = pd.read_csv(url, sep=',')
df = pd.DataFrame(from_url)

dfR = df.replace('?', np.nan)

nulls_by_columns = dfR.isnull().sum(axis=0)
nulls_by_columns

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [6]:
#3. criar um data frame eliminando as linhas com valores nulos
url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'
from_url = pd.read_csv(url, sep=',')
df = pd.DataFrame(from_url)

dfNoNulls = from_url[from_url['horsepower'] != '?']

#dfNoNulls.to_csv('problema3') #apenas para verificar a modificacao em dfNoNulls

In [12]:
#4. criar um data frame transformando os valores nulos para zero
url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'
from_url = pd.read_csv(url, sep=',')
df = pd.DataFrame(from_url)

dfR = df.replace('?', 0)

#dfR.to_csv('problema4') #apenas para verificar a modificacao em dfNoNulls

In [10]:
#5. criar um data frame trocando nulo por média da coluna
url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'
from_url = pd.read_csv(url, sep=',')
df = pd.DataFrame(from_url)

dfR = df.replace('?', np.NaN)

dfR['horsepower'] = pd.to_numeric(dfR['horsepower'])

mean_horsepower =  dfR['horsepower'].mean()

dfR.replace(np.NaN, mean_horsepower, inplace=True)

#dfR.to_csv('problema5') #arquivo salvo apenas para conferir